doctype html 
html 
    head 
        title PLAY STTATION 5
        style 
            include ../static/style.css 
        script
            script(src="/static/index.js") 
    body 
        nav#navigation 
            ul
                li.items #[a(href = '/') Home]
                li.items #[a(href = '/games') Games]
                li.items #[a(href = '/contact') Contact]
        
        section#home 
            h1 WELCOME TO PLAY STATION 
            p Play the best game ever in the history of gaming. Experience the best.  

        block content 
        
    footer.center 
        p Copyright &copy; Play Station Rights Reserved 