extends base.pug

block content 
    section#games 
        div.heading
            h1.center #[a(href="/games") GAMES]
        div.boxes
            div.box 
                h2.center Marvels SpiderMan 
                img(src="/static/spiderman.jpg", alt="")
                p.center SpiderMan gives Hope. With great powers comes great responsibilities   
            div.box 
                h2.center Prince OF Persia 
                img(src="/static/pop.jpg", alt="")
                p.center Prince is the Hero of Village    
            div.box 
                h2.center Marvels Avengers 
                img.img(src="/static/avengers.jpg", alt="")
                p.center Avengers Assemble. I'm the Iron Man