* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

 /* NAVIGAION section */

#navigation ul {
    display: flex;
    height: 50px;
    background-color: #525fff;
    justify-content: center;
    align-items: center;
}

#navigation ul li {
    margin: 5px;
    padding: 5px;
    list-style: none;
}

#navigation ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#navigation ul li a:hover {
    color: #525fff;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

/* HOME section */

#home {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    height: 695px;
    color: white;
    text-align: center;
}

#home h1 {
    margin-top: 2px;
    font-size: xx-large;
}

#home p {
    font-size: x-large;
    color: white;
}

#home::before {
    content: "";
    background: url('/static/ps5.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

/* GAMES section */

#games {
    height: 690px;
}

#games .boxes {
    display: flex;
}

#games::before {
    content: "";
    background: url('/static/games.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#games .heading {
    font-size: xx-large;
    padding: 25px 0px;
}

#games h1 a {
    text-decoration: none;
    color: #0012f5;
}

#games .box {
    border: 2px solid brown;
    border-radius: 35px;
    margin: 40px auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8079d97a;
    height: 350px;
    width: 27%
}

#games img {
    height: 200px;
    width: 200px;
    margin: 15px 0px;
}

#games .img {
    height: 200px;
    width: 150px;
    margin: 15px 0px;
}

#games .box p {
    font-size: large;
}

/* CONTACT section */
#contact h1{
    font-size: xx-large;
    padding: 25px 0px;
}
#contact{
    color: #525fff;
    height: 380px;
}
#contact .form-group{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact label{
    font-weight: bold;
    font-size: larger;
}

#contact input,select{
    width: 30%;
    border: 2px solid #525fff;
    border-radius: 5px;
}

/* FOOTER section */
footer {
    background-color: black;
    color: #525fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(241, 235, 235);
    background-color: rgb(67, 84, 241);
    border: 2px double black;
    border-radius: 15px;
}

.center {
    text-align: center;
}